<!DOCTYPE html>
<html>
    <body>
        <!DOCTYPE html>
<html>
    <head>
        <title>Par izveidotājiem</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
        <div class="container"> 
            <nav>
            <ul>
                <li><a href="../index.html">Uz sākumu</a></li>
                <li><a href="../view/Vesture.html">Spēles vēsture</a></li>
                <li><a href="../view/Atsauksmes.html">Atsauksmes</a></li>
                <li><a href="../view/Galerija.html">Galerija</a></li>
                <li><a href="../view/izvele.html">Par izveidotājiem</a></li>
                <li><a href="../view/kontakti.html">Kontakti</a></li>
            </ul>
            </nav>

            <div class="title">
                <nav>
                <ul>
                <li><h1 class="glow">Spēles autors</h1></li>
                <p>
                    Aleksejs Leonidovičs Pajitnovs (dzimis 1955. gada 16. aprīlī) ir krievu izcelsmes
                    amerikāņu videospēļu dizaineris un datorinženieris . Viņš ir vislabāk pazīstams ar
                    "Tetris" izveidi un projektēšanu 1984. gadā strādājot Dorodņicinas skaitļošanas centrā.
                    Pajitnovs bija  matemātiski noskaņots, viņam patika mīklas un problēmu risināšana.
                    Kad skaitļošanas centrs saņēma jaunu aprīkojumu, tā pētnieki tam uzrakstīja
                    nelielu programmu, lai pārbaudītu tā skaitļošanas iespējas. 
                    Pēc Pajitnova teiktā, tas "kļuva par attaisnojumu spēļu veidošanai".
                    Datorspēles viņam bija aizraujošas, jo tās piedāvāja veidu, kā pārvarēt 
                    plaisu starp loģiku un emocijām.
                </p>
                <li><h1 class="glow">Mājaslapas izveidotāji</h1></li>
                <p>Mājaslapu veidoja Limbažu Valsts Ģimnāzijas 10.a klases skolēni:
                    Kārlis Bālāboliņš; Miks Magone; Markuss Boļšijs; Madara Jonele;
                    Roberts Zemīts; Artūrs Artamonovs.
                </p>
                </ul>
                </nav>
            </div>
            </div>
        </div>
        </header>
    </body>
</html>